/* Acá va tu código */
body{
    font-size : 15px;
  font-family : Verdana, Geneva, Tahoma, sans-serif;
  text-align : center;
  background-color: #b3b6b7;
}
.ubicar{
  height: 200px;
    border: 2px solid red;
}

